{% extends "./_base_student.html" %}

{% block content %}
      
<h1
class="align-middle text-primary flex justify-center lg:text-4xl p-4 pl-10 pr-10 text-center font-extrabold md:text-3xl sm:text-2xl text-xl"
>
PLACEMENT RELATED RULES AND EXPECTATIONS (APPLICABLE TO ALL MBA STUDENTS)
</h1>
<p class="p-3 text-md font-bold px-10">
Read through carefully, discuss with faculty placement coordinators if
necessary, before applying for Placements
</p>
<hr />
<div class="flex justify-center px-6">
<div
  class="rule-container p-3 grid grid-cols-1 md:grid-cols-2 sm:grid-cols-2 xl:grid-cols-3 gap-4"
  id="rules"
>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      1
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Eos, nemo. Aut quam quo beatae qui cumque
      cupiditate deserunt eaque voluptatem, tempora non aliquid temporibus
      corrupti adipisci autem ad porro numquam. enterprise technology
      acquisitions of 2021 so far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      2
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Ipsa, qui adipisci? biggest enterprise technology acquisitions
      of 2021 so far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      3
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>
  <div
    href="#"
    class="block max-w-sm p-6 bg-white border-2 border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary dark:text-white"
    >
      
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>

  <div
    href="#"
    class="block max-w-sm p-6 bg-red-50 border-2 border-red-200 rounded-lg shadow-lg hover:bg-red-100 dark:bg-red-800 dark:border-red-700 dark:hover:bg-red-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-red-900 dark:text-white"
    >
      
    </h5>
    <p class="font-normal text-red-700 dark:text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so
      far, in reverse chronological order.
    </p>
  </div>
</div>
</div>
<script>
  let ruleCount = document.getElementById("rules")
  for(let i = 0; i < ruleCount.childElementCount; i++){
          ruleCount.children[i].children[0].innerHTML = i+1
         
  }
</script>
{% endblock content %}