{% extends "./_base_student_sidebar.html" %}

{% block content %}
   

<section class="h-screen  bg-slate-100">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <!-- <div class="p-3 max-w-screen lg:mb-16 text-center shadow-md border-2 border-secondary shadow-secondary"> -->
        <div class="p-3 max-w-screen lg:mb-16 text-center border-2 shadow-md shadow-gray-400">
            <h2 class="mb-4 text-2xl tracking-tight font-bold text-primary"><span class="underline underline-offset-8 decoration-7 decoration-secondary">4NM20</span>CSXXXX</h2>
            <p id="typer" class="text-primary text-xl font-semibold sm:text-3xl"><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
        </div>
        <hr class="w-48 h-1 mx-auto my-2 bg-primary border-0 rounded md:my-2 dark:bg-gray-700">
        <div class="p-2">
            <h2 class="mb-6 text-4xl tracking-tight font-bold text-blue-600">
                <span class="text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2">
                    <span class="underline underline-offset-8 decoration-7 decoration-secondary">Latest</span> news & updates
                </span>
            </h2>
            <div class="mt-4 max-h-full space-y-8 md:grid md:grid-cols-3 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <a data-drawer-target="drawer-bottom-1" data-drawer-show="drawer-bottom-1" data-drawer-placement="bottom" aria-controls="drawer-bottom-1" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-1" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-1" aria-controls="drawer-bottom-1" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                <a data-drawer-target="drawer-bottom-2" data-drawer-show="drawer-bottom-2" data-drawer-placement="bottom" aria-controls="drawer-bottom-2" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-2" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-2" aria-controls="drawer-bottom-2" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                <a data-drawer-target="drawer-bottom-3" data-drawer-show="drawer-bottom-3" data-drawer-placement="bottom" aria-controls="drawer-bottom-3" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-3" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-3" aria-controls="drawer-bottom-3" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                <a data-drawer-target="drawer-bottom-4" data-drawer-show="drawer-bottom-4" data-drawer-placement="bottom" aria-controls="drawer-bottom-4" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-4" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-4" aria-controls="drawer-bottom-4" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                <a data-drawer-target="drawer-bottom-5" data-drawer-show="drawer-bottom-5" data-drawer-placement="bottom" aria-controls="drawer-bottom-5" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-5" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-5" aria-controls="drawer-bottom-5" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                <a data-drawer-target="drawer-bottom-6" data-drawer-show="drawer-bottom-6" data-drawer-placement="bottom" aria-controls="drawer-bottom-6" class="hover:cursor-pointer block max-w-sm p-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-4 shadow-primary dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis overflow-hidden ...">Samsung Semiconductor India</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Campus drive 2023 - Super Dream Option</p>
                </a>
                <div id="drawer-bottom-6" class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full" tabindex="-1">
                    <h5 id="drawer-bottom-label" class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400">
                        Samsung Semiconductor India research </h5>
                    <button type="button" data-drawer-hide="drawer-bottom-6" aria-controls="drawer-bottom-6" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close menu</span>
                    </button>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line">
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        Campus drive - Samsung Semiconductor | 2023 II super dream otpion 
                        Company name - Samsung semiconductor india research 
                        Tentative date of interview: 13th & 14 th September 2022
                        Process : On Campus
                        Full time palcemant and internship program
                        Eligibility criteria:
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        CSE/ISE/ECE/EEE Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        
                    </p>
                </div>
                
                
                
                
            </div>
        </div>
    </div>
</section>

{% endblock content %}