{% load static %}
<div class="text-center text-3xl uppercase font-extrabold text-primary my-6 hover:text-gray-900">
  <h1>Contact US</h1>
</div>
<div class="flex flex-wrap justify-center px-2 md:px-5">
    {% for member in teams %}
    {% if member  %}
  <div
    class="container md:w-5/12 my-16 md:mx-5 px-6 border rounded-md py-6 shadow-xl bg-white">
        <section class="text-gray-800">
        <div class="w-full break-words">
            <h2 class="text-3xl text-primary font-bold mb-6">
                {{member.mem_name}}
            </h2>
            <hr class="bg-primary -mx-6"/>
            <p class="text-gray-500 mb-6"></p>
            <p class="text-gray-500 mb-2">
                {{member.mem_description}}
            </p>
        </div>
        </section>
        {% endif %}
        {% endfor %}
  </div>
</div>
