{% load static %}
<div
  class="text-center text-3xl uppercase font-extrabold text-primary my-6 hover:text-gray-900"
>
  <h1>Contact US</h1>
</div>
<div class="flex flex-wrap justify-center px-2 md:px-5">
  <div
    class="container md:w-5/12 my-16 md:mx-5 px-6 border rounded-md py-6 shadow-xl"
  >
    <section class="text-gray-800">
      <div class="w-full break-words">
        <h2 class="text-3xl text-primary font-bold mb-6">
          Mr. Bharath G. Kumar, M.B.A
        </h2>
        <hr class="bg-primary -mx-6"/>
        <p class="text-gray-500 mb-6"></p>
        <p class="text-gray-500 mb-2">
          HoD, Abhyuday, Department of Counselling, <br />
          Welfare, Training & Placement,<br />
          NMAM Institute of Technology <br />
          Nitte – 574 110 <br />
          Karkala Taluk, Udupi District, <br />
          Karnataka, India. Tel: 08258 281240 (D)
        </p>
        <p class="text-gray-500 mb-2">
          Tel: 08258 281240 (D) 08258 – 281263/64 Extn: 330 <br />Mobile:+91
          9902414602
        </p>
        <p class="text-gray-500 mb-2">
          Email: placement.nmamit@gmail.com / placement.nmamit@nitte.edu.in
        </p>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <div
  class="container md:w-5/12 my-16 md:mx-5 px-6 border rounded-md py-6 shadow-xl"
  >
    <section class="text-gray-800">
      <div class="w-full break-normal">
        <h2 class="text-3xl text-primary font-bold mb-6">
          Mr. Ankith S. Kumar
        </h2>
        <hr class="bg-primary -mx-6"/>
        <p class="text-gray-500 mb-6"></p>
        <p class="text-gray-500 mb-2">
          Counsellor – Placements, Abhyuday <br />
          NMAM Institute of Technology,Nitte – 574 110 <br />
          Karkala Taluk,Udupi District,Karnataka, India <br />
          Tel: 08258 281240 (D)
        </p>
        <p class="text-gray-500 mb-2 break-normal">
          08258 281263/64 Extn: 330 <br />Mobile:+91 9902414602
        </p>
        <p class="text-gray-500 mb-2 break-normal">
          Email: placement.nmamit@gmail.com / placement.nmamit@nitte.edu.in
        </p>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</div>
