{% extends "./_base_home.html" %}
{% load custom_filter %}
{% block content %}
    <div class="flex flex-col gap-16"> 
        <div>
            {% include "./slideshow.html" with sliders=sliders %}
        </div>
        <div>
            {% include "./statistics.html" %}
        </div>
        {% if teams %}
            <div id="teams">
                {% include "./teams.html" with teams=teams %}
            </div>
        {% endif %}
        {% if teams|has_description %}
            <div>
                {% include "./contact.html" %}
            </div>
        {% endif %}
        <div >
            {% include "./gallery.html" %}
        </div>
    </div>
{% endblock content %}