{% extends "./_base_home.html" %}

{% block content %}
    <div class="flex flex-col gap-16"> 
        <div>
            {% include "./slideshow.html" with sliders=sliders %}
        </div>
        <div>
            {% include "./statistics.html" %}
        </div>
        <div id="teams">
            {% include "./teams.html" with teams=teams %}
        </div>
        <div >
            {% include "./contact.html" %}
        </div>
        <div >
            {% include "./gallery.html" %}
        </div>
    </div>
{% endblock content %}