{% extends "./_base_home.html" %}

{% block content %}
<div class=" relative h-[600px]  flex flex-col justify-center items-center px-2">
    <div class="flex w-72  transform transition duration-500 ease-in-out  sm:w-96 items-center content-center  hover:shadow-2xl m-auto justify-center  max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    
        <form class="space-y-6" action="" method="post">
            {% csrf_token %}
            <h5 class="text-3xl font-bold text-center text-primary dark:text-white">Login</h5>
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your USN</label>
                <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Your USN" autofocus required>
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your password</label>
                <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
                {% include "../buttons/buttons.html" with main=True btn="Login" %}
        </form>
    </div>
</div>
{% endblock content %}