{% load static %}
{% block content %}
<div class="text-center text-3xl uppercase font-extrabold text-primary my-6 hover:text-gray-900">
    <h1>Placement Statistics</h1>  
</div>
<div class="md:m-6 md:mx-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-md">
    <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
        <div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-2 mx-auto text-primary sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 w-24 text-center text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation1">0</dt>
                    <dd class="font-light text-primary dark:text-gray-400">Students Placed</dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 w-24 text-center text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation2">0</dt>
                    <dd class="font-light text-primary dark:text-gray-400">Offers Received</dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation3">0</dt>
                    <dd class="font-light text-primary dark:text-gray-400">Highest Package (LPA)</dd>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation4">0</dt>
                    <dd class="font-light text-primary text-center dark:text-gray-400">Average Package (LPA)</dd>
                </div>               
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation5">0</dt>
                    <dd class="font-light text-primary text-center dark:text-gray-400">Median Package (LPA)</dd>
                </div>               
                <div class="flex flex-col items-center justify-center">
                    <dt class="mb-2 w-24 text-center text-3xl font-extrabold hover:scale-125 transition-all  duration-1000" id="animation6">0</dt>
                    <dd class="font-light text-center text-primary dark:text-gray-400">Companies Participated</dd>
                </div>
            </dl>
        </div>
        
    </div>
</div>
<script>
const totalPlaced = "{{statistics.placed_count}}"
const totalOffers = "{{statistics.offers_count}}"
const highestPackage = "{{statistics.highest_ctc}}"
const averagePackage = "{{statistics.avg_ctc}}"
const medianPackage = "{{statistics.median_ctc}}"
const totalCompanies = "{{statistics.companies_visited}}"

const countAnimations = [
  { id: "animation1", startValue: 0, endValue: totalPlaced },
  { id: "animation2", startValue: 0, endValue: totalOffers },
  { id: "animation3", startValue: 0, endValue: highestPackage },
  { id: "animation4", startValue: 0, endValue: averagePackage },
  { id: "animation5", startValue: 0, endValue: medianPackage },
  { id: "animation6", startValue: 0, endValue: totalCompanies },
];

const animationDuration = 2000; // 2 seconds
const statisticsContainer = document.getElementById('stats');

countAnimations.forEach(animation => {
  const numberSpan = document.getElementById(animation.id);
  let currentValue = animation.startValue;
  const valueDifference = animation.endValue - animation.startValue;
  const valueIncrement = valueDifference / (animationDuration / 10);

  const observer = new IntersectionObserver(function(entries, observer) {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        animateCounters();
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.5 });

  observer.observe(statisticsContainer);

  function animateCounters() {
  const intervalId = setInterval(function() {
    currentValue += valueIncrement;
    if (animation.id === "animation3") {
      numberSpan.textContent = currentValue.toFixed(2);
    } else if (animation.id === "animation4" || animation.id === "animation5") {
      numberSpan.textContent = currentValue.toFixed(1);
    } else {
      numberSpan.textContent = Math.round(currentValue);
    }
    if (currentValue >= animation.endValue) {
      clearInterval(intervalId);
    }
  }, 10);
}

});

    </script>
{% endblock content %}