{% load static %}
<div class="text-center text-3xl uppercase font-extrabold text-primary my-6 hover:text-gray-900">
    <h1>Meet our team</h1>
</div>
<div class="flex flex-wrap justify-center gap-6">
    <div class="px-2 text-primary hover:opacity-95"> 
        <div class="w-64 h-80  flex flex-col justify-center items-center  max-w-sm bg-white border border-gray-200 rounded-lg shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col justify-center items-center pb-5">
                <img class=" object-contain grayscale transition duration-300 ease-in  hover:grayscale-0 hover:ease-out w-36 h-36 mb-3 rounded-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]  " src="{% static "assets/placementshead.jpg" %}"/>
                <h5 class="mb-1 mt-3 text-xl font-medium">Name</h5>
                <span class="text-sm">Designation</span>
            </div>
        </div>
    </div>
    <div class="px-2 text-primary hover:opacity-95"> 
        <div class="w-64 h-80  flex flex-col justify-center items-center  max-w-sm bg-white border border-gray-200 rounded-lg shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col justify-center items-center pb-5">
                <img class=" object-contain grayscale transition duration-300 ease-in  hover:grayscale-0 hover:ease-out w-36 h-36 mb-3 rounded-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]  " src="{% static "assets/placementshead.jpg" %}"/>
                <h5 class="mb-1 mt-3 text-xl font-medium">Name</h5>
                <span class="text-sm">Designation</span>
            </div>
        </div>
    </div>
    <div class="px-2 text-primary hover:opacity-95"> 
        <div class="w-64 h-80  flex flex-col justify-center items-center  max-w-sm bg-white border border-gray-200 rounded-lg shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col justify-center items-center pb-5">
                <img class=" object-contain grayscale transition duration-300 ease-in  hover:grayscale-0 hover:ease-out w-36 h-36 mb-3 rounded-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]  " src="{% static "assets/placementshead.jpg" %}"/>
                <h5 class="mb-1 mt-3 text-xl font-medium">Name</h5>
                <span class="text-sm">Designation</span>
            </div>
        </div>
    </div>
    
    
</div>
