{% extends "../admininstrator/_base_admin.html" %}
{% block content %}

<div class="text-center">
    <h1 class="p-2 text-2xl pb-7 uppercase font-semibold text-primary">Edit Rule</h1>
        <div class="rounded-lg border-primary text-left overflow-auto border-2">
            <form action="" method="post">
                {% csrf_token %}
                <div class="px-4 pt-3 flex flex-col gap-2">
                    {% include "../custom_fields/_textarea.html" with field=form.rule %}
                </div>
                <div class="text-center mt-5 p-1 pb-2 bg-gray-100 font-semibold">
                    {% include "../buttons/buttons.html" with btn="Edit" %}
                </div>
            </form>
        </div>
      

</div>
{% endblock content %}