{% extends "../_base_admin.html" %}

{% block content %}

<div class="p-4 sm:ml-4 overflow-auto">

  <div class="p-4 sm:ml-4 overflow-auto">
    <h1 class="text-3xl font-bold text-primary"><span class="underline underline-offset-8 decoration-7 decoration-secondary">Add New Job</span> Details</h1>
    <div class="bg-white p-4">

      <form method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-12 gap-3 text-sm">
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.title %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_select.html" with field=form.company %}
          </div>
          <div class="sm:col-span-1 md:col-span-6 m-1">
            {% include "../../custom_fields/_textarea.html" with field=form.description %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.sslc %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.puc %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.diploma %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.degree %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.curr_cgpa %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.gap_edu %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.min_dob %}
          </div>
          <div class="sm:col-span-1 md:col-span-6">
            {% include "../../custom_fields/_input.html" with field=form.max_dob %}
          </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.ctc_pa %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.max_activebacklog %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.max_histbacklog %}
                    </div>
                    {% comment %} <div class="col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.other_company %}
                    </div> {% endcomment %}
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.registration_last_date %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.talk_date %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.interview_date %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_input.html" with field=form.test_date %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_textarea.html" with field=form.notes %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        {% include "../../custom_fields/_toggle.html" with field=form.reg_open %}
                    </div>
                    <div class="sm:col-span-1 md:col-span-6">
                        <label class="block mb-2 font-medium text-gray-900">
                            {{form.yearBatch.label}} :
                        </label>
                        {{form.yearBatch}}
                    </div>
                    <div class="relative sm:col-span-1 md:col-span-12 w-40 m-auto mt-4">
                        {% include "../../buttons/buttons.html" with main=True btn="Add Job" secondary=False %}
                    </div>
                </form>
        </div>
        




    </div>
</div>

{% endblock content %}