{% extends "_base_home.html" %}

{% block content %}
<div class="text-center text-3xl font-extrabold text-primary mt-4 hover:text-gray-900">
    <h1>Placement Activities</h1>
</div>
<div  class="relative h-[600px] flex items-center justify-center mt-12">
    <div id="images" class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
        <div class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 rounded-md">
            <div class="h-96 w-72">
              <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125" src="https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="" />
            </div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-secondary/40 group-hover:via-primary/60 group-hover:to-primary/70"></div>
            <div class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
              <h1 class="font-dmserif text-3xl font-bold text-white">Lorem</h1>
              <p class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat.</p>
              <!-- <button class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60 hover:text-secondary hover:bg-primary">See More</button> -->
            </div>
        </div>
        <div class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 rounded-md">
            <div class="h-96 w-72">
              <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125" src="https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="" />
            </div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-secondary/40 group-hover:via-primary/60 group-hover:to-primary/70"></div>
            <div class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
              <h1 class="font-dmserif text-3xl font-bold text-white">Lorem</h1>
              <p class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat.</p>
              <!-- <button class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60 hover:text-secondary hover:bg-primary">See More</button> -->
            </div>
        </div>
        <div class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 rounded-md">
            <div class="h-96 w-72">
              <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125" src="https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="" />
            </div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-secondary/40 group-hover:via-primary/60 group-hover:to-primary/70"></div>
            <div class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
              <h1 class="font-dmserif text-3xl font-bold text-white">Lorem</h1>
              <p class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat.</p>
              <!-- <button class="rounded-full bg-neutral-900 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60 hover:text-secondary hover:bg-primary">See More</button> -->
            </div>
        </div>
    </div>
  </div>
  <script>
    const images=document.getElementById('images')
    const gallery = new Viewer(images,{
        toolbar:{
            zoomIn:{show:2,size:"large"},
            zoomOut:{show:2,size:"large"},
            oneToOne:{show:2,size:"large"},
            prev:{show:2,size:"large"},
            next:{show:2,size:"large"},
        } ,
        title:(images,i,key)=>{
            return images.alt
        },
        backdrop:'rgb(0,0,100,0.8)',
        className:`[&_.viewer-canvas]:bg-secondary fi [&_.viewer-canvas]:bg-opacity-10 [&_.viewer-canvas]:backdrop-blur-lg 
        [&_.viewer-navbar]:bg-primary [&_.viewer-navbar]:bg-opacity-60  [&_.viewer-button]:bg-primary`
    });
    document.querySelectorAll("#images > div").forEach((img,i) => {
      img.addEventListener('click', () => {
            gallery.view(i)
      });
    })
  </script>
{% endblock content %}