@tailwind base;
@tailwind components;
@tailwind utilities;

#marks  li::before{
  content: "\00BB";
  margin-right:10px;
  font-size:20px;
  background-image: linear-gradient( rgb(27, 27, 71), rgb(224, 126, 126), rgb(246, 246, 6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#marks > ul > li{
  list-style: none;


}

#typer span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 2px;
    animation: blink 1s infinite;
  }
 #typer span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }