{% extends "./_base_admin.html" %}
{% block content %}
    <div class="p-2 text-2xl pb-7 text-center">Add/Delete Staff</div>
        <div class="rounded-lg border-slate-300 text-left overflow-auto border-2">
            <div class="bg-primary h-10 text-white px-4 pt-2 font-semibold text-center">Add staff</div>
            <form action="" method="post" class="bg-white">
                {% csrf_token %}
                <div class="px-4 pt-3">
                    <label class="my-3 font-semibold" for="username">Set staff username</label><br>
                    <input class="my-3 w-full rounded-lg border-gray-300" type="text"
                        name="username" placeholder="Enter staff username" required><br>
                    <label class="my-3 font-semibold" for="password">Set a password</label><br>
                    <input class="my-3 w-full rounded-lg border-gray-300" type="password"
                        name="password" placeholder="Password"><br>
                </div>
                <div class="text-center mt-5 p-1 pb-2 bg-gray-100 font-semibold">
                    {% include "../buttons/buttons.html" with btn="Add Staff" %}
                </div>
            </form>
        </div>
        <div class="mt-4 rounded-lg border-slate-300 text-left overflow-auto border-2 bg-white">
            <div class="bg-secondary h-10 text-center text-primary px-4 pt-2 font-semibold">Staff List</div>
            <div class="m-2 grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-2 gap-2">
                {% for staff in staffs %}
                    <div class="flex flex-col gap-2 w-full px-6 py-2 bg-slate-200">
                        <div class="px-1 bg-white text-center truncate ">
                            {{staff.username}}
                        </div>
                        <div class="flex  justify-center">
                            <button id="deleteStaff" data-modal-target="delete-Staffmodal" data-modal-toggle="delete-Staffmodal" data-element={{staff.username}} type="button" class="text-white  bg-red-600 hover:bg-red-500  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                <svg aria-hidden="true" class="flex-shrink-0 w-4 h-4 text-white transition duration-75 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="delete-Staffmodal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
               <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="delete-Staffmodal">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
               </button>
               <div class="p-6 text-center">
                  <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                  <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Do you want to delete the staff ?</h3>
                  <a id="deleteStaffConfirm" href="" data-modal-hide="delete-Staffmodal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                     Yes, sure
                  </a>
                  <button data-modal-hide="delete-Staffmodal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
               </div>
            </div>
      </div>
   </div>
   <script>
        const deleteStaffConfirm = document.querySelector('#deleteStaffConfirm');
        const deleteStaff = document.querySelectorAll('#deleteStaff');
        deleteStaff.forEach((d)=>
            d.addEventListener("click",()=>{
                deleteStaffConfirm.href = "/au/deleteStaff/"+d.getAttribute("data-element")
            })
        )
    </script>

{% endblock content %}