{% extends "./_base_admin.html" %} {% load static %} {% block content %}

<div class="flex flex-wrap relative top-0  px-1" id="tabs-id">
    <h1 class="text-3xl mt-5 mb-3 font-bold text-primary">
        <span class="underline underline-offset-8 decoration-7 decoration-secondary">Block</span>
        Students
    </h1>
    <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px  last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow block leading-normal border border-t-2 border-t-blue-600 text-blue-600 bg-white"
                    onclick="changeAtiveTab(event,'tab-profile')">
                    <i class="fas fa-space-shuttle text-base mr-1"></i> Profile Editing
                </a>
            </li>
            <li class="-mb-px  last:mr-0 flex-auto text-center">
                <a class="text-xs font-medium uppercase px-5 py-3 shadow  block leading-normal border border-t-2 text-gray-600 bg-gray-200"
                    onclick="changeAtiveTab(event,'tab-apply')">
                    <i class="fas fa-cog text-base mr-1"></i> Portal Login
                </a>
            </li>
            <li class="-mb-px  last:mr-0 flex-auto text-center">
                <a class="text-xs font-medium uppercase px-5 py-3 shadow  block leading-normal border border-t-2 text-gray-600 bg-gray-200"
                    onclick="changeAtiveTab(event,'tab-login')">
                    <i class="fas fa-briefcase text-base mr-1"></i> Applying Company
                </a>
            </li>
        </ul>
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">
                    <div class="block" id="tab-profile">

                        <form class="flex items-center" method="POST" id="profile">
                            {% csrf_token %}
                            <label for="voice-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text" name="usn" id="profile-usn"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter USN ... eg: 4JK18FDXXX" required>
                                <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">

                                </button>
                            </div>
                        </form>



                        <div class="flex flex-col justify-center ">
                            <div class="flex justify-center">
                                <form class="flex items-center " id="profile" method="POST"
                                    action="{% url 'profileEditUnblockAll'  %}">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Unblock Editing for all" green=True id="pb" %}
                                </form>
                                <form class="flex items-center " id="profile" method="POST"
                                    action="{% url 'profileEditBlockAll'  %}">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Block Editing for all" green=False id="pu" %}
                                </form>
                            </div>
                            <div id="profile-display" class="flex flex-row flex-wrap justify-around ">

                                {% for student in students %}
                                <div
                                    class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px] py-4 my-3 mx-1">
                                    <div class="flex flex-col sm:flex-row items-center justify-center">
                                        {% if student.image %}
                                        <img class="profile-image relative w-16 h-16 rounded-full"
                                            src="{{ student.image.url }}" alt="{{ student.name }}">
                                        {% else %}
                                        <img class="profile-image relative w-16 h-16 rounded-full" alt="H"
                                            data-name="{{ student.name|slice:'1'|upper }}">
                                        {% endif %}
                                        <p class="px-3 md:px-5 py-3">{{ student.name }}</p>
                                        <p>{{ student.user.username }}</p>
                                    </div>
                                    {% if student.editable %}
                                    <form method="post" action="{% url 'profileEditBlock' id=student.user.id %}"
                                        class="text-center">
                                        {% csrf_token %}
                                        {% include "../buttons/buttonsrg.html" with btn="Block profile Editing "  green=False id=student.user.id %}
                                    </form>
                                    {% else %}
                                    <form method="post" action="{% url 'profileEditBlock' id=student.user.id %}"
                                        class="text-center">
                                        {% csrf_token %}
                                        {% include "../buttons/buttonsrg.html" with btn="Unblock profile Editing" green=True id=student.user.id %}
                                    </form>
                                    {% endif %}
                                </div>
                                {% endfor %}

                            </div>

                        </div>

                    </div>
                    <div class="hidden" id="tab-apply">
                        <form class="flex items-center" id="apply">
                            <label for="voice-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text" name="usn" id="login-usn"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter USN ... eg: 4JK18FDXXX" required>

                            </div>

                        </form>
                        <div class="flex flex-col justify-center ">
                            <div class="flex justify-center">
                                <form class="flex items-center" id="profile" method="POST"
                                    action="{% url 'LoginUnblockAll'  %}">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Unblock Portal Login for all" green=True id="plu" %}
                                </form>
                                <form class="flex items-center" id="profile" method="POST"
                                    action="{% url 'LoginBlockAll'  %}">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Block Portal Login for all"  green=False id="plb" %}
                                </form>
                            </div>


                            <div id="login-display" class="flex flex-row flex-wrap justify-around ">

                                {% for student in students %}
                                <div
                                    class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px] py-4 my-3 mx-1">
                                    <div class="flex flex-col sm:flex-row items-center justify-center">
                                        {% if student.image %}
                                        <img class="profile-image relative w-16 h-16 rounded-full"
                                            src="{{ student.image.url }}" alt="{{ student.name }}">
                                        {% else %}
                                        <img class="profile-image relative w-16 h-16 rounded-full" alt="H"
                                            data-name="{{ student.name|slice:'1'|upper }}">
                                        {% endif %}
                                        <p class="px-3 md:px-5 py-3">{{ student.name }}</p>
                                        <p>{{ student.user.username }}</p>
                                    </div>
                                    {% if student.status == 'N' or student.status == 'AB' %}

                                    <form method="post" action="{% url 'loginBlockEdit' id=student.user.id %}"
                                        class="text-center">
                                        {% csrf_token %}
                                        {% include "../buttons/buttonsrg.html" with btn="Block portal login" green=False id=student.user.id|stringformat:"i"|add:'lb' %}
                                    </form>
                                    {% else %}
                                    <form method="post" action="{% url 'loginBlockEdit' id=student.user.id %}"
                                        class="text-center">
                                        {% csrf_token %}
                                        {% include "../buttons/buttonsrg.html" with btn="Unblock Portal login" green=True id=student.user.id|stringformat:"i"|add:'lb' %}
                                    </form>
                                    {% endif %}
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                    <div class="hidden" id="tab-login">
                        <form class="flex items-center" id="login">
                            <label for="voice-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text" name="usn" id="apply-usn"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter USN ... eg: 4JK18FDXXX" required>
                            </div>

                        </form>
                        <div class="flex justify-center">
                            <form class="flex items-center" id="profile" method="POST"
                                action="{% url 'applyUnblockAll'  %}">
                                {% csrf_token %}
                                {% include "../buttons/buttonsrg.html" with btn="Unblock all from applying to job"  green=True id="aju" %}
                            </form>
                            <form class="flex items-center" id="profile" method="POST"
                                action="{% url 'applyBlockAll'   %}">
                                {% csrf_token %}
                                {% include "../buttons/buttonsrg.html" with btn="Block all from applying to job" green=False id="ajb" %}
                            </form>
                        </div>
                        <div id="apply-display" class="flex flex-row flex-wrap justify-around ">

                            {% for student in students %}
                            <div
                                class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px]  py-4 my-3 mx-1">
                                <div class="flex flex-col sm:flex-row items-center justify-center">
                                    {% if student.image %}
                                    <img class="profile-image relative w-16 h-16 rounded-full"
                                        src="{{ student.image.url }}" alt="{{ student.name }}">
                                    {% else %}
                                    <img class="profile-image relative w-16 h-16 rounded-full" alt="H"
                                        data-name="{{ student.name|slice:'1'|upper }}">
                                    {% endif %}
                                    <p class="px-3 md:px-5 py-3">{{ student.name }}</p>
                                    <p>{{ student.user.username }}</p>
                                </div>
                                {% if student.status == 'N' or student.status == 'LB' %}
                                <form method="post" action="{% url 'applyBlockEdit' id=student.user.id %}"
                                    class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Block from applying to jobs" green=False id=student.user.id|stringformat:"i"|add:'ab' %}
                                </form>
                                {% else %}
                                <form method="post" action="{% url 'applyBlockEdit' id=student.user.id %}"
                                    class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Unblock from applying to jobs" green=True id=student.user.id|stringformat:"i"|add:'ab' %}
                                </form>
                                {% endif %}
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;//CSRF token for fetch post

    //Dynamic tabs
    function changeAtiveTab(event, tabID) {
        let element = event.target;
        while (element.nodeName !== "A") {
            element = element.parentNode;
        }
        ulElement = element.parentNode.parentNode;
        aElements = ulElement.querySelectorAll("li > a");
        tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
        for (let i = 0; i < aElements.length; i++) {
            aElements[i].classList.remove("text-blue-600");
            aElements[i].classList.remove("bg-white");
            aElements[i].classList.remove("border-t-blue-600");
            aElements[i].classList.remove("font-bold");
            aElements[i].classList.add("text-gray-600");
            aElements[i].classList.add("bg-gray-200");
            aElements[i].classList.add("font-medium");
            tabContents[i].classList.add("hidden");
            tabContents[i].classList.remove("block");
        }
        element.classList.remove("text-gray-600");
        element.classList.remove("bg-gray-200");
        element.classList.remove("font-medium");
        element.classList.add("text-blue-600");
        element.classList.add("bg-white");
        element.classList.add("border-t-blue-600");
        element.classList.add("font-bold");
        document.getElementById(tabID).classList.remove("hidden");
        document.getElementById(tabID).classList.add("block");
    }

    //***************************************** Student profile edit block start  **********************************************************8
    //const form = document.getElementById('profile');
    const profiledisplay = document.getElementById('profile-display');
    const inputFieldP = document.getElementById('profile-usn');

    inputFieldP.addEventListener('keyup', event => {
        event.preventDefault();  // prevent the form from submitting normally

        const searchQuery = inputFieldP.value;
        console.log(searchQuery)

        fetch('/au/student/editBlock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                q: searchQuery
            })
        }).then(response => response.json())
            .then(data => {
                console.log(data)
                students = data.students
                let html = '';
                if (students.length === 0) {
                    html += `<div class="flex h-72 items-center"><h1 class="text-2xl text-center"> No results found for ${searchQuery}</h1></div>`
                    profiledisplay.innerHTML = html;
                }
                for (let i = 0; i < students.length; i++) {
                    const editable = students[i].editable;
                    html += `
                      <div class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px]  py-4 my-3 mx-1">
                          <div class="flex flex-col sm:flex-row items-center justify-center ">
                            <div class="relative">
                              ${students[i].image.url ? `
                                <img class="profile-image w-16 h-16 rounded-full" src="${students[i].image.url}" alt="${students[i].name}">
                              ` : `
                                <img class="profile-image w-16 h-16 rounded-full bg-gray-800" alt="${students[i].name}" data-name="${students[i].name.slice(0, 1).toUpperCase()}">
                              `}
                            </div>
                              <p class="px-3 md:px-5 py-3">${students[i].name}</p>
                              <p class="">${students[i].user.user}</p>
                          </div>
                          ${editable
                            ? `<form method="post" action="/au/student/profileEditBlock/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Block Edit" green=False id="${students[i].user.id}" %}
                                </form>`
                            : `<form method="post" action="/au/student/profileEditBlock/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Unblock Edit" green=True id="${students[i].user.id}" %}
                                </form>`
                        }                      
                       </div>
                  `;
                }
                profiledisplay.innerHTML = html;
            })
            .catch(error => {
                // handle errors
                console.log(error);
            });
    });
    //***************************************** Student profile edit block end **********************************************************
    //***************************************** Student login block start  **********************************************************
    const logindisplay = document.getElementById('login-display');
    const inputFieldL = document.getElementById('login-usn');

    inputFieldL.addEventListener('keyup', event => {
        event.preventDefault();  // prevent the form from submitting normally

        const searchQuery = inputFieldL.value;



        fetch('/au/student/editBlock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                q: searchQuery
            })
        }).then(response => response.json())
            .then(data => {
                console.log(data)
                students = data.students
                let html = '';
                if (students.length === 0) {
                    html += `<div class="flex h-72 items-center"><h1 class="text-2xl text-center"> No results found for ${searchQuery}</h1></div>`
                    logindisplay.innerHTML = html;
                }
                for (let i = 0; i < students.length; i++) {
                    const login = students[i].status;
                    html += `
                      <div class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px]  py-4 my-3 mx-1">
                          <div class="flex flex-col sm:flex-row items-center justify-center ">
                            <div class="relative">
                              ${students[i].image.url ? `
                                <img class="profile-image w-16 h-16 rounded-full" src="${students[i].image.url}" alt="${students[i].name}">
                              ` : `
                                <img class="profile-image w-16 h-16 rounded-full bg-gray-800" alt="${students[i].name}" data-name="${students[i].name.slice(0, 1).toUpperCase()}">
                              `}
                            </div>
                              <p class="px-3 md:px-5 py-3">${students[i].name}</p>
                              <p class="">${students[i].user.user}</p>
                          </div>
                          ${login === 'N' || login == 'AB'
                            ? `<form method="post" action="/au/student/loginBlockEdit/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Block Login" green=False id="${students[i].user.id.toString() + 'lb'}" %}
                                </form>`
                            : `<form method="post" action="/au/student/loginBlockEdit/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Unblock Login" green=True id="${students[i].user.id.toString() + 'lb'}" %}
                                </form>`
                        }                      
                       </div>
                  `;
                }
                logindisplay.innerHTML = html;
            })
            .catch(error => {
                // handle errors
                console.log(error);
            });
    });
    //***************************************** Student Login  block end   **********************************************************

    //***************************************** Student apply block start  **********************************************************
    const applydisplay = document.getElementById('apply-display');
    const inputFieldA = document.getElementById('apply-usn');

    inputFieldA.addEventListener('keyup', event => {
        event.preventDefault();  // prevent the form from submitting normally

        const searchQuery = inputFieldA.value;


        fetch('/au/student/editBlock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                q: searchQuery
            })
        }).then(response => response.json())
            .then(data => {
                console.log(data)
                students = data.students
                let html = '';
                if (students.length === 0) {
                    html += `<div class="flex h-72 items-center"><h1 class="text-2xl text-center"> No results found for ${searchQuery}</h1></div>`
                    applydisplay.innerHTML = html;
                }
                for (let i = 0; i < students.length; i++) {
                    const apply = students[i].status;
                    html += `
                      <div class="shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] rounded-lg px-3 w-[400px] md:w-[300px] lg:w-[320px]  py-4 my-3 mx-1">
                          <div class="flex flex-col sm:flex-row items-center justify-center ">
                            <div class="relative">
                              ${students[i].image.url ? `
                                <img class="profile-image w-16 h-16 rounded-full" src="${students[i].image.url}" alt="${students[i].name}">
                              ` : `
                                <img class="profile-image w-16 h-16 rounded-full" alt="${students[i].name}" data-name="${students[i].name.slice(0, 1).toUpperCase()}">
                              `}
                            </div>
                              <p class="px-3 md:px-5 py-3">${students[i].name}</p>
                              <p class="">${students[i].user.user}</p>
                          </div>
                          ${apply === 'N' || login == 'LB'
                            ? `<form method="post" action="/au/student/applyBlockEdit/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Apply Block" green=False id="${students[i].user.id.toString() + 'ab'}" %}
                                </form>`
                            : `<form method="post" action="/au/student/applyBlockEdit/${students[i].user.id}/"   class="text-center">
                                    {% csrf_token %}
                                    {% include "../buttons/buttonsrg.html" with btn="Apply Unblock" green=True id="${students[i].user.id.toString() + 'ab'}" %}
                                </form>`
                        }                      
                       </div>
                  `;
                }
                applydisplay.innerHTML = html;
            })
            .catch(error => {
                // handle errors
                console.log(error);
            });
    });
//***************************************** Student Apply  block end   **********************************************************
</script>
{% endblock content %}