{% extends "./_base_admin.html" %}
{% block content %}
        <div class="mt-3 px-6 py-6 lg:px-8">
            <h1 class="text-3xl font-bold text-primary">
                <span class="underline underline-offset-8 decoration-7 decoration-secondary"
                  >Edit</span
                >
                 Gallery image
              </h1>
            <form class="space-y-6" action="/au/adminEditor/editGallery/{{image.id}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="mem_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                    <input type="text" name="title" id="title" value='{{image.title}}' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                </div>
                <div>
                    {% if form.instance.image %}
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="mem_image">Current image</label>
                    <img id="prev_image" name="prev_image" class="h-[196px] w-auto rounded border-2 border-transparent group-hover:border-2 group-hover:border-gray-300" src="{{form.instance.image.url}}"/>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="mem_image">Update with new photo</label>
                    <input class="block w-full mb-5 p-2 text-white border border-gray-300 rounded-lg cursor-pointer bg-blue-700 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-primary" id="iamge" name="image" type="file">
                    {% else %}
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="mem_image">Add image photo</label>
                    <input class="block w-full mb-5 p-2 text-white border border-gray-300 rounded-lg cursor-pointer bg-blue-700 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-primary" id="iamge" name="image" type="file">
                    {% endif %}
                </div>
                <div>
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea rows="4" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="(Optional)">{{image.description}}</textarea>
                </div>
                    <button type="submit" class="w-full text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>
{% endblock content %}