{% extends "../administrator/_base_admin.html" %}
administrator 
{% block content %}

    <div class="text-center">
    <div class="p-2 text-2xl pb-7">Add Latest News And Updates</div>
        {% if user.is_superuser %}
        <div class="flex justify-center mb-10">
            <div class="w-40">
                {% include "../custom_fields/_a.html" with href="/au/addNewsUpdates" text="Add News" secondary=True main=True %}
            </div>
        </div>
        {% endif %}
        <div class="rounded-lg border-slate-300 text-left border-2">
        <div class="bg-primary rounded-t-md h-10 text-white px-4 pt-2 font-semibold">
            News And Updates
        </div>
        {% if news %}
        <div class="px-2 pt-3">
            {% for latest in news%}
            <div
            data-drawer-target="{{latest.title}}"
            data-drawer-show="{{latest.title}}"
            data-drawer-placement="bottom"
            aria-controls="{{latest.title}}"
            class="hover:cursor-pointer w-full block px-4 pt-4 mb-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-2 shadow-primary/40"
            >
            <!-- REASON FOR REMOVING, MAKING OPACITY LESS LOOKS ODD -->
            <!-- class="hover:cursor-pointer w-full block px-4 pt-4 mb-4 bg-white rounded-lg shadow hover:bg-gray-100 hover:ring-2 shadow-primary/40 {% if latest.hidden %}opacity-60{% endif %}" -->
                <h5 class="mb-2 capitalize w-75 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-ellipsis">
                    {{latest.title}} {% if latest.hidden %}<span
                    class="text-white text-[12px] bg-secondary font-normal rounded-full uppercase py-1 px-2"
                    >HIDDEN</span
                    >{% endif %}
                </h5>
            <!-- <p class="font-normal w-75 text-gray-700 dark:text-gray-400">
                {{latest.content|slice:":10"|linebreaks}}...
            </p> -->

                    <div class="pt-2 flex flex-row">
                        <a
                        type="button"
                        onclick="event.stopPropagation()"
                        href="{% url 'updateNews' id=latest.id %}"
                        {% if user.is_superuser %}disabled{%endif%} 
                        class="flex flex-row w-fit text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-4 py-2 text-center mr-2 mb-2 dark:focus:ring-yellow-900 {% if not user.is_superuser %} pointer-events-none opacity-40 {%endif%} "
                        >
                        <svg
                            aria-hidden="true"
                            class="mr-1 flex-shrink-0 w-6 h-6 text-white transition duration-75 group-hover:text-primary dark:group-hover:text-white"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z"
                            ></path>
                            <path
                            d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z"
                            ></path>
                        </svg>
                        Edit
                        </a>
                        <a
                        type="button"
                        onclick="event.stopPropagation()"
                        href="{% url 'deleteNews' id=latest.id %}"
                        class="flex flex-row w-fit text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-4 py-2 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 {% if not user.is_superuser %} pointer-events-none opacity-40 {%endif%} "
                        >
                        <svg
                            aria-hidden="true"
                            class="mr-1 flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:group-hover:text-white"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            ></path>
                        </svg>
                        Delete
                        </a>
                    </div>
                
            </div>
            <div
            id="{{latest.title}}"
            class="max-h-96 fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto bg-blue-50 dark:bg-gray-800 transition-transform translate-y-full"
            tabindex="-1"
            >
            <h5
                id="drawer-bottom-label"
                class="inline-flex mr-1 items-center mb-4 text-base font-semibold text-primary dark:text-gray-400"
            >
                {{latest.title}}
            </h5>
            <button
                type="button"
                data-drawer-hide="{{latest.title}}"
                aria-controls="{{latest.title}}"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            >
                <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                ></path>
                </svg>
                <span class="sr-only">Close menu</span>
            </button>
            <p
                class="mb-3 text-sm text-gray-500 dark:text-gray-400 whitespace-pre-line"
            >
                {{latest.content}}
            </p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div
            class="p-2 py-4 text-center rounded-b-md text-gray-500 bg-gray-200 border-t border-gray-300"
        >
            No news found
        </div>
        {% endif %}
        </div>
    </div>
{% endblock content %} 
