{% load widget_tweaks %}

<div>
    <label for="{{field.id_for_label}}" class="block mb-2 font-medium text-gray-900 dark:text-white">{{field.label}} : </label>
    <select name="{{ field.name }}" id="{{ field.id }}"
class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
{% for company in field.field.choices %}
<option value="{{ company.0 }}" {% if field.value == company.0 %}selected{% endif %}>{{ company.1 }}</option>
{% endfor %}
</select>
</div>